@mixin tablet($breakpoint-desktop) {
    
    @media (min-width: $breakpoint-desktop) {
    
    }
}


@mixin desktop($breakpoint-desktop) {
    
    
    @media (min-width: $breakpoint-desktop)  {
    
        header {
            padding-top: 0;
            padding-bottom: 0;
            border: none;

            .navbar {

                .menu {
                    position: static;
                    flex-direction: row;
                    align-items: center;
                    padding-bottom: 0;
                    opacity: 1;
                    visibility: visible;
                    border-radius: 0;
                    box-shadow: none;
                    background-color: transparent;
                    transform: translateX(0);

                    &__item {
                        border: none;
                        padding-bottom: 0;
                    }
                }

                .icon-menu {
                    display: none;
                }
            }
        }
    }
}