

@mixin tablet($breakpoint-desktop) {
    
    @media (min-width: $breakpoint-desktop) {
    
        header {
            padding-left: 3.5rem;
            padding-right: 3.5rem;
        }

        main {
           

            .info-section {

                &__title {
                    
                    font-size: 5.5rem;
                    margin-bottom: 0;
                }
               
                .form {
              

                    &__input {
                        flex: 0 0 385px;
                    }
    
                    &__btn {
                        flex: 0 0 auto;
                    }
                }
            }

            
        }

        
    }
}



@mixin desktop($breakpoint-desktop) {
    
    
    @media (min-width: $breakpoint-desktop)  {
    
        header {
            padding-top: 0;
            padding-bottom: 0;
            border: none;


            .navbar {

                .menu {
                 
                    @include base-menu-responsive();

                    &__item {
                        border: none;
                        padding: 0;
                    }

                    &__link {

                        &--btn {
                            display: block;
                            height: 55px;
                        }
                    }
                }

                .icon-menu {
                    display: none;
                }
            }
        }


        main {
            grid-template-rows: auto;
            grid-template-areas: 
            "info-section info-section img-section img-section";
            justify-items: flex-start;

            column-gap: 0.5rem;

            padding-bottom: 0;

            .img-section {
                align-self: center;
                height: 350px;


            }

            .info-section {


                max-width: 700px;
                align-items: flex-start;

                

                &__title {
                    margin-top: 0;
                    font-size: 4.5rem;
                    text-align: start;
                }

                &__desc, &__adv  {
                    text-align: start;
                    font-size: 1.6rem;

                }

                .form {
                    justify-content: flex-start;

                    &__input {
                        margin-top: 0;
                    }
                }
            }
        }

        footer {
            margin: 0;
        }
    }
}