

/*========================
        LAYOUTS
========================*/

@mixin  pancke-stack {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    max-width: 1124px;
    margin: 0 auto;
    background-color: $c-bk;
}


@mixin  split-screen($area1, $area2, $j-items) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        $area2
        $area1;
    justify-items: $j-items;
}


@mixin  split-screen-desk($area1, $area2, $j-items) {
    grid-template-rows: auto;
    grid-template-areas: 
    $area1 $area1 $area2 $area2;
    justify-items: $j-items;
}




/*========================
        COMPONENTS
========================*/



// ======MENU🍔====

@mixin base-menu (){
    position: absolute;
    top: 5.5rem;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    transform: translateX(-100%);
    transition: 0.3s;
}

@mixin  base-menu-responsive() {
    position: static;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    opacity: 1;
    visibility: visible;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    transform: translateX(0);
}

@mixin hamburger-icon($width, $height, $bg) {
    
    @content;
    
    position: relative;

    width: $width;
    height: $height;
    
    border-radius: $height / 2;

    background-color: $bg;

    &:before, &:after {
        
        content: '';

        position: absolute;
        top: -.9em;

        display: block; 
        width: $width;
        height: $height;

        background-color: $bg;
        border-radius: $height / 2;
        
        transition: transform .2s;

    }

    &:after {
        top: .9em;
    }

}

@mixin close-icon(){
    
    @content;
   
    height: 0;  

    &:before, &:after {

        top: 0; 
        transform: rotate(-45deg);

    }

    &:after {
        transform: rotate(45deg);
    }
}



//======FORMS====//

@mixin  base-button($bk, $color, $w) {

    padding: 2rem;
    font-size: 1.5rem;
    font-weight: $w;
    color: $color;
    background-color: $bk;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;

    cursor: pointer
}

@mixin  base-input() {
    @content;

    padding: 2rem;
    border: 1px solid #E2E8F0;
    outline: none;
    border-radius: 5px;
    box-shadow: -36px 2px 79px -18px rgba(0,0,0,0.1);

    &:placeholder-shown {
        font-weight: $w-xbg;
        font-size: 1.5rem;
        color: #5D5D5E;
    }
}



//======TEXT====//

@mixin  base-text($fs, $t-lgn, $fw, $lh, $c) {
    font-size: $fs;
    text-align: $t-lgn;
    font-weight: $fw;
    line-height: $lh;
    color: $c;
}