// Colors

$c-primary: #372865;
$c-secondary:#545454;

// #5d5d5e
// #beb4d8

$c-btnF: #ffffff;
$c-bk: #f6f9fe;

$c-links:#606061;

// fonts
$font-primary: 'Nunito Sans', sans-serif;

$w-sm:200;
$w-md:300;
$w-bg:400;
$w-xbg:800;

// debug

$border: 1px solid red;