
@import 'abstracts/palette';
@import 'abstracts/mixins';

@import 'responsive/main-responsive';


html {

    font-family: $font-primary;
    font-size: 62.5%;

}

body {
    @include pancke-stack();
}

header {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: $pd $pd;

    border-bottom: 1px solid #E2E8F0;

    .navbar {
        margin-left: auto;

        .menu {
            
            @include base-menu(); 

            &--active {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
                transition: 0.3s ease-out;
            }

            &__item {
                padding: 1.5rem 0;
                border-bottom: 1px solid $c-primary;

                &--btn {
                    margin: $pd 0 $pd $pd;
                    border: none;
                }
               
            }

            &__link {
                padding-left: $pd;
                font-size: 1.6rem;
                font-weight: 400;
                color: $c-links;

                &--btn {
                    
                    @include base-button($c-primary, $c-btnF,  $w-xbg);

                }

                &:hover {
                    color: #482ff7;
                }
            }
        }

        .icon-menu {
            
            display: flex;
            flex-direction: column;
            width: 40px;

            cursor: pointer;

            &__bar {
                 @include hamburger-icon(35px, 3px, #333);

                 &--close {
                     @include close-icon();
                 }
            }
        }
    }
}

main {

    @include split-screen("info-section", "img-section", center);
    row-gap: 2.5rem;
    padding: $pd;

  .img-section {
        grid-area: img-section;
        width: 100%;
        max-width: 562px;
        height: 50vh;

        display: flex;
        align-items: center;

        img {
            width: 100%;
            height: inherit;
            object-fit: contain;
        }
    }

    .info-section {
        grid-area: info-section;
        max-width: 562px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
           
            @include base-text(3.5rem, center, $w-xbg, normal, $c-primary);

        }

        &__adv {
            order: -1;
            padding: 1.5rem;
            font-size: 1.7rem;
            text-align: center;
            background-color: $c-primary;
            color: #ccc1e6;
            border-radius: 25px;

            

            .link__adv {
                font-weight: $w-xbg;
                text-decoration: underline;
            }

        }

        &__desc {
            width: 95%;
            @include base-text(1.7rem, center, $w-bg, 2.5rem, $c-secondary);
        }

        .form {
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            align-items: flex-end;
            gap: 1.5rem;
            width: 100%;


            &__input {
                flex: 1 0 auto;
                height: 55px;
                margin-top: 1rem;
                @include base-input();
              
            }

            &__btn {
                flex: 1 0 150px;
                height: 55px;
                @include base-button($c-primary, $c-btnF,  $w-xbg);
            }
        }
    }

}


footer {
    width: 100%;
    max-width: 562px;
    margin: 0 auto;
    padding: $pd;

    .footer-section {
        p {
            @include base-text(1.7rem, start, $w-xbg, normal, #545454);
            margin-top: 0;
        }
    }
}



@include tablet( 43em );

@include desktop( 62em );