/*========================
        LAYOUTS
========================*/
/*========================
        COMPONENTS
========================*/
html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 1124px;
  margin: 0 auto;
  background-color: #f6f9fe;
}

header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.2rem 1.2rem;
  border-bottom: 1px solid #E2E8F0;
}
header .navbar {
  margin-left: auto;
}
header .navbar .menu {
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  transform: translateX(-100%);
  transition: 0.3s;
}
header .navbar .menu--active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: 0.3s ease-out;
}
header .navbar .menu__item {
  padding: 1.5rem 0;
  border-bottom: 1px solid #372865;
}
header .navbar .menu__item--btn {
  margin: 1.2rem 0 1.2rem 1.2rem;
  border: none;
}
header .navbar .menu__link {
  padding-left: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #606061;
}
header .navbar .menu__link--btn {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
  background-color: #372865;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}
header .navbar .menu__link:hover {
  color: #482ff7;
}
header .navbar .icon-menu {
  display: flex;
  flex-direction: column;
  width: 40px;
  cursor: pointer;
}
header .navbar .icon-menu__bar {
  position: relative;
  width: 35px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #333;
}
header .navbar .icon-menu__bar:before, header .navbar .icon-menu__bar:after {
  content: "";
  position: absolute;
  top: -0.9em;
  display: block;
  width: 35px;
  height: 3px;
  background-color: #333;
  border-radius: 1.5px;
  transition: transform 0.2s;
}
header .navbar .icon-menu__bar:after {
  top: 0.9em;
}
header .navbar .icon-menu__bar--close {
  height: 0;
}
header .navbar .icon-menu__bar--close:before, header .navbar .icon-menu__bar--close:after {
  top: 0;
  transform: rotate(-45deg);
}
header .navbar .icon-menu__bar--close:after {
  transform: rotate(45deg);
}

main {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "img-section" "info-section";
  justify-items: center;
  row-gap: 2.5rem;
  padding: 1.2rem;
}
main .img-section {
  grid-area: img-section;
  width: 100%;
  max-width: 562px;
  height: 50vh;
  display: flex;
  align-items: center;
}
main .img-section img {
  width: 100%;
  height: inherit;
  object-fit: contain;
}
main .info-section {
  grid-area: info-section;
  max-width: 562px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .info-section__title {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 800;
  line-height: normal;
  color: #372865;
}
main .info-section__adv {
  order: -1;
  padding: 1.5rem;
  font-size: 1.7rem;
  text-align: center;
  background-color: #372865;
  color: #ccc1e6;
  border-radius: 25px;
}
main .info-section__adv .link__adv {
  font-weight: 800;
  text-decoration: underline;
}
main .info-section__desc {
  width: 95%;
  font-size: 1.7rem;
  text-align: center;
  font-weight: 400;
  line-height: 2.5rem;
  color: #545454;
}
main .info-section .form {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: flex-end;
  gap: 1.5rem;
  width: 100%;
}
main .info-section .form__input {
  flex: 1 0 auto;
  height: 55px;
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid #E2E8F0;
  outline: none;
  border-radius: 5px;
  box-shadow: -36px 2px 79px -18px rgba(0, 0, 0, 0.1);
}
main .info-section .form__input:placeholder-shown {
  font-weight: 800;
  font-size: 1.5rem;
  color: #5D5D5E;
}
main .info-section .form__btn {
  flex: 1 0 150px;
  height: 55px;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
  background-color: #372865;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

footer {
  width: 100%;
  max-width: 562px;
  margin: 0 auto;
  padding: 1.2rem;
}
footer .footer-section p {
  font-size: 1.7rem;
  text-align: start;
  font-weight: 800;
  line-height: normal;
  color: #545454;
  margin-top: 0;
}

@media (min-width: 43em) {
  header {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  main .info-section__title {
    font-size: 5.5rem;
    margin-bottom: 0;
  }
  main .info-section .form__input {
    flex: 0 0 385px;
  }
  main .info-section .form__btn {
    flex: 0 0 auto;
  }
}
@media (min-width: 62em) {
  header {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
  header .navbar .menu {
    position: static;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    opacity: 1;
    visibility: visible;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    transform: translateX(0);
  }
  header .navbar .menu__item {
    border: none;
    padding: 0;
  }
  header .navbar .menu__link--btn {
    display: block;
    height: 55px;
  }
  header .navbar .icon-menu {
    display: none;
  }

  main {
    grid-template-rows: auto;
    grid-template-areas: "info-section info-section img-section img-section";
    justify-items: flex-start;
    column-gap: 0.5rem;
    padding-bottom: 0;
  }
  main .img-section {
    align-self: center;
    height: 350px;
  }
  main .info-section {
    max-width: 700px;
    align-items: flex-start;
  }
  main .info-section__title {
    margin-top: 0;
    font-size: 4.5rem;
    text-align: start;
  }
  main .info-section__desc, main .info-section__adv {
    text-align: start;
    font-size: 1.6rem;
  }
  main .info-section .form {
    justify-content: flex-start;
  }
  main .info-section .form__input {
    margin-top: 0;
  }

  footer {
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
